@page
@model dotnet_webapi_frontend.Pages.Persona.ListModel
@{
    ViewData["Title"] = "List of Peoples";
}

<table>
    <thead>
        <th>Nombre</th>
        <th>Edad</th>
        <th>Acciones</th>
    </thead>
    <tbody>
        
    </tbody>
</table>