@page
@model dotnet_webapi_frontend.Pages.Persona.ListModel
@{
    ViewData["Title"] = "List of Peoples";
}

<div class="container mb-3">
    <a href="/persona/add" class="btn btn-info"> Add Person </a>
</div>
<div class="container">
    <table class="border table">
        <thead>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            @foreach (var i in Model.control)
                {
                    <tr>
                        <td>@i.Nombre</td>
                        <td>@i.Edad</td>
                        <td>
                            <a href="/persona/edit?id=@i.Id,action=edit"><button type="button" class="btn btn-success">Edit</button></a>
                            <button type="button" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }
        </tbody>
</div>
</table>